@charset "UTF-8";
@import "./reset.css";
/* 유인물 1~4번 항목 설정 */
html { font-size: 16px; }
body {
	font-family: "Roboto Condensed", "Noto Sans KR", sans-serif;
	color: #fff;
	font-size: 14px;
	background-color: #4f0600;	
}
.d-none {
	display: none;
}
.top-bar-outer {
	background-color: white;
}
.top-bar {
	max-width: 800px;
	margin: 0 auto;	
	display: flex;
	justify-content: space-between; /* 수평정렬 : 양끝 */
	align-items: center; /* 수직정렬: 중앙 */
}
.top-menu a {
	font-size: 14px;
	color: #666666;
	text-decoration: none; /* 텍스트-꾸밈(밑줄) : 없음 */
}
.top-menu a:nth-child(2){ /* 두번째 a를 선택, 좌우 여백 추가 */
	margin: 0 1rem;
}
.marketing-outer {
	background-color: white;
	height: 500px;
}
.marketing {
	max-width: 800px;
	margin: 0 auto;	
	display: flex;
	justify-content: space-between; /* 수평정렬 : 양끝 */
	position: relative;
	top: 135px;
}
.text {
	width: 300px;
	position: relative
}
.text p {
	color: black
}
.text p:nth-child(1) {
	font-size: 60px;
	color: #000000; /* 000 */
	position: absolute;
	left:0px;
	top:70px;
	
}
.text p:nth-child(2) {
	font-size: 60px;
	color: #cf160c;
	position: absolute;
	left: 0;
	top: 130px;
}
.text p:nth-child(3) {
	font-size: 90px;
	color: #000000; /* 000 */
	position: absolute;
	left: 100px;
	top: 130px;	
}

.menu-outer {
	background-color: #830e04;
	padding: 1rem 0;	
}
.menu {
	max-width: 800px;
	margin: 0 auto;
	text-align: right
}
.menu a {
	color: #ffffff; /* white */
	text-decoration: none;
	cursor: pointer;
}
.menu a:nth-child(2) {
	margin: 0 1rem
}



